<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
  </head>


  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <a class="item active" href="/">
      Home
    </a>
    <!-- TODO: Messages Update in Version 1.0 -->
    <a class="item" href="/comments/index">
      Comments
    </a>

    <a class="item" href="/users/index">
      Friends
    </a>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
        <a class="ui item">
          <i class="plus circle icon" href="/posts/new"></i>
          New Post
        </a>
      <a class="ui item" href="/users/show">
        <i class="user circle icon "></i>
        Profile
    </a>
      
    </div>
  </div>

  <!-- SECTION: USER PROFILE EDIT PAGE BELOW -->
  <!-- Add more setting changes for everything that fits Schema values -->
  <main>
    <h1>Edit <%= user.userName %> </h1>
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
      <p>
        Change Your Profile Picture
        <input type="file" name="picture" value="<%= user.picture %>" accept=".gif,.jpg,.jpeg,.png">
    </p>

      <p>
        Change Your Username
      <input type="text" name="userName" value="<%= user.userName %>" />
    </p>

      <p>
        Change Your User Biography
      <input type="text" name="description" value="<%= user.description %>" />
    </p>

    <p> Change Your Email Address
      <input type="email" name="email" value="<%= user.email %>" />
    </p>

    <p> Change Your Password
      <input type="password" name="password" value="<%= user.password %>" />
    </p>
      <button input type="submit" value="Update" class="ui primary button">
        Submit Changes
      </button>
    </form>
      <button class="ui button"> 
       <a href="javascript:javascript:history.go(-1)">Discard Changes</a>  <!-- FIXME: verify compatibility of return to bckpg with js -->
      </button>
      
      
    
  </main>
  
     




    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>