<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
  </head>


  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <a class="item active" href="/">
      Home
    </a>
    <!-- TODO: Messages Update in Version 1.0 -->
    <a class="item" href="/comments/index">
      Comments
    </a>

    <a class="item" href="/users/index">
      Friends
    </a>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
      <a class="ui item" href="/posts/new">
        <i class="plus circle icon" ></i>
        New Post
      </a>
      <a class="ui item" href="/users/<%= user.id %>">
        <i class="user circle icon "></i>
        Profile
    </a>
    
      
    </div>
  </div>

  <!-- SECTION: USER PROFILE EDIT PAGE BELOW -->
  <!-- Add more setting changes for everything that fits Schema values -->
  <main>
    <h4 class="ui horizontal divider header">
      <i class="bar chart icon"></i>
      Edit  <%= user.userName %>
    </h4>
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
    <table class="ui definition table">
      <tbody>
        <!-- <tr>
          <td class="two wide column">Profile Picture</td>
          <td><input type="file" name="picture" value="<%= user.picture %>" accept=".gif,.jpg,.jpeg,.png"></td>
        </tr> -->
        <tr>
          <td>Username</td>
          <td><input type="text" name="userName" value="<%= user.userName %>" /></td>
        </tr>
        <tr>
          <td>User Biography</td>
          <td><input type="text" name="description" value="<%= user.description %>" maxlength="150" /></td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td><input type="email" name="email" value="<%= user.email %>" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" value="<%= user.password %>" /></td>
        </tr>
      </tbody>
    </table>

    <button input type="submit" value="Update" class="ui primary button">
     Submit Changes
   </button>
 </form>

 <button class="ui button" > 
  <a href="javascript:javascript:history.go(-1)">Discard Changes <!-- FIXME: verify compatibility of return to bckpg with js -->
  </a> 
 </button>    


 <form action="/logout?_method=DELETE" method="POST">
  <input type="submit" value="Logout">
  </form>
  </main>
  
     




    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>