<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
  </head>


  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <a class="item active" href="/">
      Home
    </a>
    <!-- TODO: Messages Update in Version 1.0 -->
    <a class="item" href="/comments/index">
      Comments
    </a>

    <a class="item" href="/users/index">
      Friends
    </a>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
        <a class="ui item">
          <i class="plus circle icon" href="/posts/new"></i>
          New Post
        </a>
      <a class="ui item" href="/users/<%= user._id %>">
        <i class="user circle icon "></i>
        Profile
    </a>
      
    </div>
  </div>

  <!-- SECTION: USER PROFILE PAGE CONTENT BELOW -->

  <!-- User Profile photo -->
  <section>
  <div class="ui circular segment">
    <h2 class="ui header">
      User photo
      <div class="sub header">upload img src here</div>
    </h2>
  </div>
  <!-- User Profile Info  -->
  <h2><%= user.userName %>'s Profile</h2>
  <ul>
    <li>Name: <%= user.userName %></li>
  </ul>
</section>
<!-- FIXME: Only show Delete form IF userSessionID = currentUserID -->
<form action="/users/<%= user._id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete" />
</form>


<a href="/users/<%= user._id %>/edit">Edit</a>
<!-- User Profile populated Posts -->





    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>