<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/styles/profilemain.css"> 
    <script src="/scripts/app.js" defer></script>
  </head>


  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <a class="item active" href="/">
      Home
    </a>
    <a class="item" href="/users?userName=">
      Friends
    </a>

    <div class="mainPageSearchBar">
      <form action="/users" method="GET">
      <div class="ui action input">
        <input type="text" name="userName" placeholder="Search Users...">

        <button class="ui button">Search</button>
      </div>
      </form>
    </div>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
      <!-- Notifications here -->
      <div class="ui item">
        <div class="ui dropdown">
          <i class="plus heart icon"></i>
          <div class="text">Notifications</div>
          <i class="dropdown icon "></i>
          <!--FIXME: Add Ajax here for notification storing -->
          <div class="menu" id="mainDropdownMenu"> 
            <div class="item">New</div>
            <div class="item">
              <span class="description">Add timestamp of user interaction here</span>
              user.image + interpolate str val of user.userName here ...
            </div>
            <div class="item">
              <span class="description">Add timestamp of user interaction here</span>
              user.image + interpolate str val of user.userName here ...
            </div>
            <div class="item">
              <span class="description">Add timestamp of user interaction here</span>
              user.image + interpolate str val of user.userName here ...
            </div>
            </div>
              </div>
            </div>
        
        <a class="ui item" href="/posts/new">
          <i class="plus circle icon" ></i>
          New Post
        </a>
      <a class="ui item" href="/users/<%= user.id %>">
        <i class="user circle icon "></i>
        Profile
    </a>
    
      
    </div>
  </div>

  <!-- SECTION: USER PROFILE PAGE CONTENT BELOW -->
  <div class="userprofile__main"> 

  <div class="user__profilephoto">
    <h2 class="ui header">
      <img class= "user_profilephoto_img" src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/123138843_1067565367036684_2235957244731016243_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=5AkmP-MEUCMAX9wiB3i&tp=1&oh=211571bff02a9d9f3225e5930f085fca&oe=6005AE42">
      <div class="sub header"></div>
    </h2>
  </div>
<!-- FIXME: add if else stat here  -->
<div class="user__profilestats">
  <div class="user__basics">
  <h2><%= profile.userName %></h2>
      <% if(profile._id == user.id) { %>
    <a class="ui basic button" href="/users/<%= profile._id %>/edit">
      <i class="icon user"></i>
      Edit Profile
    </a>
    <a class="ui basic button" href="/users/<%= profile._id %>/settings">
      <i class="cogs icon"></i>
      Settings
    </a>
    <% } else { %> 
     
      <div class="ui button" id="followButton" tabindex="0">
        <i class="user circle outline icon"></i>
        Follow
      </div>

      <div class="ui button">
        <i class="comment alternate icon"></i>
        Message
      </div>
    
      <% } %>
      </div>
    
  <div class="ui large horizontal divided list">
    <div class="item">
      <i class="camera retro icon"></i>
      <div class="content">
        <div class="header">Posts</div>
        <%= profile.posts.length %>
      </div>
    </div>
    <div class="item">
      <i class="users icon"></i>
      <div class="content">
        <div class="header">Following</div>
        30000
      </div>
    </div>
    <div class="item">
      <i class="street view icon"></i>
      <div class="content">
        <div class="header">
          Followers
        </div>
        <div> 
          <span id="followerCount"> 0 </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 


 <div class="user__profilebio">
  <div class="content">
    <h4 class="ui sub header">Bio</h4>
    <div class="ui large feed">
        <div class="content">
          <div class="summary">
            <p><%= profile.description%> </p>
          </div>
        </div>
        <div class="ui divider"></div>
      </div>
    </div>
  </div>




<!-- User Profile populated Posts -->
<div class="userprofile__posts">
  <div class="ui three column grid">

  

  <% profile.posts.forEach(post => { %>
    <a href="/"> </a>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img class="ui medium rounded image" src="/<%=post.image.image %>" >
      </div>
      <div class="extra content">
        
        <span class="left floated like" id="likeButton">
          <i class="like icon"></i>
          <%= post.likes %>
        </span>

        <span class="right floated star">
          Save 
          <i class="blue bookmark icon"></i>
        </span>
      </div>
    </div>
  </div>
  <% }) %>
  <!-- FIXME: placeholder for visuals -->
</div>
</div>

    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <script type="text/javascript" src= "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"> </script>  
  </body>
</html>