<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
    <!-- NOTE: below is CSS file link src from the public folder -->
    <link rel="stylesheet" href="/styles/profilemain.css"> 
  </head>


  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <a class="item active" href="/">
      Home
    </a>
    <!-- TODO: Messages Update in Version 1.0 -->
    <a class="item" href="/comments/index">
      Comments
    </a>

    <a class="item" href="/users/index">
      Friends
    </a>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
        <a class="ui item">
          <i class="plus circle icon" href="/posts/new"></i>
          New Post
        </a>
      <a class="ui item" href="/users/<%= user.id %>">
        <i class="user circle icon "></i>
        Profile
    </a>
    
      
    </div>
  </div>

  <!-- SECTION: USER PROFILE PAGE CONTENT BELOW -->
  <div class="userprofile__main"> <!-- NOTE: class for css public/main.css -- edit this to change overall profile box for user -->
  <!-- User Header Profile Info  -->
  <div class="user__profilephoto">
    <h2 class="ui header">
      <img class= "user_profilephoto_img" src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/123138843_1067565367036684_2235957244731016243_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=5AkmP-MEUCMAX9wiB3i&tp=1&oh=211571bff02a9d9f3225e5930f085fca&oe=6005AE42">
      <div class="sub header"></div>
    </h2>
  </div>
  <!-- Number of Posts, Friends, Followers -->
  <!-- FIXME: UI Items Style: none !!!! or numbers will be confusing for UI -->
  <div class="user__profilestats">
    <div class="user__basics">
    <h2><%= user.userName %></h2>
    <a class="ui basic button" href="/users/<%= user._id %>/edit">
      <i class="icon user"></i>
      Edit Profile
    </a>
      </div>
    
  <div class="ui large horizontal divided list">
    <div class="item">
      <i class="camera retro icon"></i>
      <div class="content">
        <div class="header">Posts</div>
        <%= user.posts.length %>
      </div>
    </div>
    <div class="item">
      <i class="users icon"></i>
      <div class="content">
        <div class="header">Friends</div>
        30000
      </div>
    </div>
    <div class="item">
      <i class="street view icon"></i>
      <div class="content">
        <div class="header">Followers</div>
        1050
      </div>
    </div>
  </div>
</div>
</div> 
  <!-- User Name, Bio/Description, follow/unfollow button, message button -->
 <!-- FIXME: box styling/container for user description -->
 <div class="user__profilebio">
  <div class="content">
    <h4 class="ui sub header">Bio</h4>
    <div class="ui small feed">
        <div class="content">
          <div class="summary">
            <p><%= user.description%> </p>
          </div>
        </div>
      </div>
    </div>
    <!-- NOTE: Get rid of delete after mvp + testing-->
   <!--  <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form> -->
  </div>






<!-- User Profile populated Posts -->
<div class="userprofile__posts">
<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img class="ui medium rounded image" src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/123138843_1067565367036684_2235957244731016243_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=5AkmP-MEUCMAX9wiB3i&tp=1&oh=211571bff02a9d9f3225e5930f085fca&oe=6005AE42">
      </div>
      <div class="content">
        <a class="header">Post Link via ID here</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img class="ui medium rounded image" src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/123138843_1067565367036684_2235957244731016243_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=5AkmP-MEUCMAX9wiB3i&tp=1&oh=211571bff02a9d9f3225e5930f085fca&oe=6005AE42">
      </div>
      <div class="content">
        <a class="header">Post Link via ID here</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img class="ui medium rounded image" src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/123138843_1067565367036684_2235957244731016243_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=5AkmP-MEUCMAX9wiB3i&tp=1&oh=211571bff02a9d9f3225e5930f085fca&oe=6005AE42">
      </div>
      <div class="content">
        <a class="header">Post Link via ID here</a>
      </div>
    </div>
  </div>
</div>
</div>

    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>