<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
    <link rel="stylesheet" href="/styles/main.css"> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <div class="ui card">
        <div class="content">
          <div class="right floated meta">placeholder time</div>
          <img class="ui avatar image" src=<%= User.picture %>> <%= User.userName %>
        </div>
        <div class="image">
          <img src=<%= Post.image %> loading="lazy">
        </div>
        <div class="description">
            <p><%= Post.description %></p>
        </div>
        <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            <%= Post.likes %>
          </span>
          <i class="comment icon"></i>
          <%= Post.comments.length %> comments
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
              <%= Post.comments %>
            <input type="text" placeholder="Add Comment...">
          </div>
        </div>
      </div> 
<div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <form class="ui reply form" action="comments/upload" method="POST">
      <div class="field">
        <textarea name="description" placeholder="That's a super cool post!"></textarea>
      </div>
      <div class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Add Reply
      </div>
    </form>
  </div>
</body>
</html>