<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css"> 
</head>
<body>
 <!-- SECTION: NAVBAR -->
 <div class="ui secondary pointing menu">
  <h1>Social Media App</h1>
  <a class="item active" href="/">
    Home
  </a>
  <a class="item" href="/users?userName=">
    Friends
  </a>

  <div class="mainPageSearchBar">
    <form action="/users" method="GET">
    <div class="ui action input">
      <input type="text" name="userName" placeholder="Search Users...">

      <button class="ui button">Search</button>
    </div>
    </form>
  </div>
  <!-- NAVBAR RIGHT SIDE -->
  <div class="right menu">
    <!-- Notifications here -->
    <div class="ui item">
      <div class="ui dropdown">
        <i class="plus heart icon"></i>
        <div class="text">Notifications</div>
        <i class="dropdown icon"></i>
        <!--FIXME: Add Ajax here for notification storing -->
        <div class="menu">
          <div class="item">New</div>
          <div class="item">
            <span class="description">Add timestamp of user interaction here</span>
            user.image + interpolate str val of user.userName here ...
          </div>
          <div class="item">
            <span class="description">Add timestamp of user interaction here</span>
            user.image + interpolate str val of user.userName here ...
          </div>
          <div class="item">
            <span class="description">Add timestamp of user interaction here</span>
            user.image + interpolate str val of user.userName here ...
          </div>
          </div>
            </div>
          </div>
      
      <a class="ui item" href="/posts/new">
        <i class="plus circle icon" ></i>
        New Post
      </a>
    <a class="ui item" href="/users/<%= user.id %>">
      <i class="user circle icon "></i>
      Profile
  </a>
  
    
  </div>
</div>
      
    <% if(!Posts.length){ %>
        <p>There are no posts currently available. But more likely there was an error.</p>
    <% } %>
    <ul>
        <% Posts.forEach(Post => { %>
            <div class="ui card">
                <div class="content">
                  <div class="right floated meta">placeholder time</div>
                  <img class="ui avatar image" src=<%= User.picture %>> <%= User.userName %>
                </div>
                <div class="image">
                  <img src=<%= Post.image %> loading="lazy">
                </div>
                <div class="description">
                    <p><%= Post.description %></p>
                </div>
                <div class="content">
                  <span class="right floated">
                    <i class="heart outline like icon"></i>
                    <%= Post.likes %>
                  </span>
                  <i class="comment icon"></i>
                  <%= Post.comments.length %> comments
                </div>
                <div class="extra content">
                  <div class="ui large transparent left icon input">
                      <%= Post.comments %>
                    <input type="text" placeholder="Add Comment...">
                  </div>
                </div>
              </div>
        <% }); %>
    </ul>
  </body>
  </html>
</body>